.addproduct{
      width: 700px;
      background-color: white;
      margin:15px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      
}

.name{
      color: black;
      font-weight: bold;
      margin: 15px;
      font-size: 20px;
}
.nametext{
      width: 500px;
      border: 2px solid black;
      margin: 15px;
      padding: 8px 10px;

}

.add{
      background-color: white;
      color: black;
      border: 1px solid black;
      padding: 12px 24px;
      font-size: 16px;
     text-align: right;
     position: relative;
     left: 450px;
}